/* This is acommend */

:root {
  --main-color: gainsboro;
}

:root {
  --main-font:'Titillium Web', sans-serif;
}

#landingpage {
    /*background-image: url("p.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;*/
    overflow: scroll;
        
}


#landingpage1 {
    overflow: scroll;
        
}


#header {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#header2 {
    font-family: var(--main-font);
    font-size: 20pt;
    color: black;
    text-align: center;
    font-weight: 2000;
    
}

#author {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 50%;
    display: inline-block;
    font-style: normal;
    
}

#UCDAVIS {
    text-align: center;
    
}

#text {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 50%;
    display: inline-block;
}

#text2 {
    font-family: var(--main-font);    
    font-size: 11pt;
    color: black;
    text-align: left;  
    width: 100%;
    display: inline-block;
}

#text_poem {
    font-family: var(--main-font);    
    font-size: 12pt;
    color: black;
    text-align: center;  
    width: 30%;
    display: inline-block;
    font-style: italic;

    
}

#wrapper1 {
    text-align: center;  
}


/* navbar */
    
nav {
  font-family: var(--main-font);  
  font-size: 50px;
  text-align: center;
  
}
ul {
  padding: 0;
  list-style-type: none;
  display: inline-block;
}

.courses {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
    font-weight: 100;
}

.interests {
  padding: 0px;
  list-style-type: armenian;
  display: block;
  font-family: var(--main-font);
  font-size: 11pt;
  font-style: normal;
  font-weight: 100;
  text-align: center;
      
}



li {
  display: inline-block;
}
li a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
    
}


nav li a:hover, nav li a:active {
  background-color: var(--main-color);
}


.column {
  text-align: center;
  float: left;
  width: 33.33%;
}

.column_sem {
  text-align: center;
  float: left;
  width: 50%;
}

.column_sem_JC {
  text-align: center;
  float: left;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  font-family: var(--main-font);
  text-align: center;
  content: "";
  display: table;
  clear: both;
  line-height: 10px;
}

#courseheader {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;
    padding: 0px 0px;

}

#courseheader_semester {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#courseheader_semester_JC {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 15pt;

}

#coursework {
    font-family: var(--main-font);
    font-weight: bolder;

}


